# This workflow will do a clean install of node dependencies, build the source code and run tests across different versions of node
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

name: Node.js CI

on:
    push:
        branches: [master]
    pull_request:
        branches: [master]

jobs:
    build:
        runs-on: ubuntu-latest

        steps:a
            - uses: actions/checkout@v2

            - name: Use Node.js 13.x
              uses: actions/setup-node@v1
              with:
                  node-version: '13.x'

            - name: Install dependencies
              run: yarn --frozen-lockfile

            - name: Build
              run: yarn build

            - name: Test
              run: yarn test-ci
